<div class="bg-dark rounded shadow-sm p-3 w-auto">
    <h3 class="h3 text-white">Empresas Cadastradas</h3>
    <table class="table bg-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="border-top-0">#</th>
                <th scope="col" class="border-top-0 w-50">Nome Fantasia</th>
                <th scope="col" class="border-top-0">UF</th>
                <th scope="col" class="border-top-0 w-50">CNPJ</th>
                <th scope="col" class="border-top-0 text-right" colspan="3">
                    <a href="#/empresa/add" class="btn btn-primary">
                        Cadastrar
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td scope="row">0</td>
                <td scope="row">teste</td>
                <td scope="row">{{ 'sc' | uppercase }}</td>
                <td scope="row">{{ '00000000000000' | cnpj }}</td>
                <td scope="row">&nbsp;</td>

                <td scope="row">
                    <a href="#/empresa/0" class="btn btn-success">Alterar</a>
                </td>

                <td scope="row">
                    <button type="button" class="btn btn-danger">Alterar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>