<div class="bg-dark rounded shadow-sm p-3 w-auto" ng-init="startGrid()">
    <div class="row">
        <div class="col">
            <h3 class="h3 text-white">Empresas Cadastradas</h3>
        </div>
        <div class="col-3 text-right">
            <input type="text" class="form-control" ng-model="empresaSearch" placeholder="pesquisar" />
            <button type="button" class="button-reset position-absolute v-center right-1" style="opacity: 0.5;">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <table class="table bg-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="border-top-0">#</th>
                <th scope="col" class="border-top-0 w-50">Nome Fantasia</th>
                <th scope="col" class="border-top-0">UF</th>
                <th scope="col" class="border-top-0 w-50">CNPJ</th>
                <th scope="col" class="border-top-0 text-right pr-0" colspan="3">
                    <a href="#/empresa/add" class="btn btn-primary">
                        <i class="fas fa-plus"></i>Cadastrar
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="empresa in empresas | filter:empresaSearch">
                <td scope="row" ng-bind="empresa.idEmpresa"></td>
                <td scope="row" ng-bind="empresa.nomeEmpresa"></td>
                <td scope="row">{{ empresa.ufEmpresa | uppercase }}</td>
                <td scope="row">{{ empresa.cnpjEmpresa | cnpj }}</td>
                <td scope="row">&nbsp;</td>

                <td scope="row">
                    <a href="#/empresa/{{ empresa.idEmpresa }}" class="btn btn-success">
                        <i class="fas fa-edit"></i>Alterar
                    </a>
                </td>

                <td scope="row">
                    <button type="button" class="btn btn-danger" ng-click="excluir(empresa.idEmpresa, empresa.nomeEmpresa)">
                        <i class="fas fa-trash-alt"></i>Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>