html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

        .offcanvas-collapse.open {
            visibility: visible;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        color: rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

    .nav-underline .nav-link:hover {
        color: #007bff;
    }

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.navbar-nav.nav-pagseg .nav-link {
    color: rgba(24, 135, 109, 0.5);
}

    .navbar-nav.nav-pagseg .nav-link:focus,
    .navbar-nav.nav-pagseg .nav-link:hover {
        color: rgba(24, 135, 109, 0.9);
    }

    .navbar-nav.nav-pagsegv .active > .nav-link,
    .navbar-nav.nav-pagseg .nav-link.active,
    .navbar-nav.nav-pagseg .nav-link.show,
    .navbar-nav.nav-pagsegnav .show > .nav-link {
        color: rgba(239, 119, 38, 0.9);
    }

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-pagveloz-verde {
    background-color: #18876d;
}

.btn.btn-pagveloz {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

    btn.btn-pagveloz:hover {
        background-color: #ec971f;
        border-color: #d58512;
    }

    btn.btn-pagveloz:active {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }

    btn.btn-pagveloz:focus {
        background-color: #ec971f;
        border-color: #985f0d;
    }

.button-reset {
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.v-center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right-1 {
    right: 2rem;
}

.lh-125 {
    line-height: 1.25;
}

.lh-150 {
    line-height: 1.5;
}

.o-75 {
    opacity: 0.75;
}