<div class="bg-dark rounded shadow-sm p-3 w-auto">
    <div class="row">
        <div class="col">
            <h3 class="h3 text-white">Fornecedores Cadastradas</h3>

        </div>
        <div class="col-3 text-right">
            <input type="text" class="form-control" ng-model="fornecedorSearch" placeholder="pesquisar" />
            <button type="button" class="button-reset position-absolute v-center right-1" style="opacity: 0.5;">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <table class="table bg-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="border-top-0">#</th>
                <th scope="col" class="border-top-0">Empresa</th>
                <th scope="col" class="border-top-0">CPF ou CNPJ</th>
                <th scope="col" class="border-top-0">Data/hora de cadastro</th>

                <th scope="col" class="border-top-0 text-right pr-0" colspan="3">
                    <a href="#/fornecedor/add" class="btn btn-primary">
                        Cadastrar
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="fornecedor in fornecedores | filter:fornecedorSearch">
                <td scope="row">0</td>
                <td scope="row">0</td>
                <td scope="row">0</td>
                <td scope="row">0</td>

                <td scope="row">&nbsp;</td>

                <td scope="row" class="text-right">
                    <a href="#/fornecedor/0" class="btn btn-success">Alterar</a>
                </td>

                <td scope="row" class="text-right">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
