<div class="bg-dark rounded shadow-sm p-3 w-auto">
    <h3 class="h3 text-white">Fornecedores Cadastradas</h3>
    <table class="table bg-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="border-top-0">#</th>
                <th scope="col" class="border-top-0">Empresa</th>
                <th scope="col" class="border-top-0">CPF ou CNPJ</th>
                <th scope="col" class="border-top-0">Data/hora de cadastro</th>

                <th scope="col" class="border-top-0 text-right" colspan="3">
                    <a href="#/fornecedor/add" class="btn btn-primary">
                        Cadastrar
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td scope="row">0</td>
                <td scope="row">0</td>
                <td scope="row">0</td>
                <td scope="row">0</td>

                <td scope="row">&nbsp;</td>

                <td scope="row" class="text-right">
                    <a href="#/fornecedor/0" class="btn btn-success">Alterar</a>
                </td>

                <td scope="row" class="text-right">
                    <button type="button" class="btn btn-danger">Alterar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>